
@{
}

<h1> Add Unscene Tip</h1>

<form method="post">
    
    <lable for="name">Title:</lable><br>
    <input name="name" type="text" /><br>

    <lable for="location">City:</lable><br>
    <input location="location" type="text" /><br>

    <lable for="description">Description:</lable><br>
    <input description="description" type="text" /><br>

    <br><input type="submit" value="Add Activity" /><br>

</form>